:root {
  --body-background-color: #FFFFFF;
  --body-text-color: #0F2441;
  --card-background-color: #FFFFFF;
  --nav-background-color: #FFFFFF;
  --nav-border-bottom-color: #DDDDDD;
  --nav-current-border-bottom-color: #0F2441;
  --card-border-color: #D5D8DE;
  --down-border-left-color: #A53D1E;
  --down-background-color: #FCF1F0;
  --degraded-border-left-color: #F0FCF3;
  --up-border-left-color: #4F9E59;
  
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
